fastapi
uvicorn[standard]
numpy
pandas
scipy
matplotlib
joblib
pydantic
langgraph
typing-extensions
azure-storage-blob
azure-identity
azure-keyvault-secrets
python-dotenv
requests
xgboost
scikit-learn
arch
optuna
cvxpy
openai